# Hugo
/public/
/resources/_gen/
/hugo_build.lock
features.txt
# Optional - if you don't want to track theme development
#/themes/*/

# Environment files with secrets
netlfly.toml
.gitmodules
/static/images

